---
// sin props por ahora
---
<section class="tape" aria-label="promoción">
  <div class="tape__track">
    <b>¡Aprende Idiomas Con Pasión!</b> • <b>Clases Presenciales y Online</b> •
    <b>Horarios Flexibles</b> • <b>Preparación de Exámenes</b> •
    <b>¡Aprende Idiomas Con Pasión!</b> • <b>Clases Presenciales y Online</b> •
    <b>Horarios Flexibles</b> • <b>Preparación de Exámenes</b> •
  </div>
  <div class="tape__track">
    <b>¡Aprende Idiomas Con Pasión!</b> • <b>Clases Presenciales y Online</b> •
    <b>Horarios Flexibles</b> • <b>Preparación de Exámenes</b> •
    <b>¡Aprende Idiomas Con Pasión!</b> • <b>Clases Presenciales y Online</b> •
    <b>Horarios Flexibles</b> • <b>Preparación de Exámenes</b> •
  </div>
</section>